<div class="container">
    <div >
        <div class="section-i">
            <div class="align-items-center">
                <div class="aling-item-center">
                    <img src="../img/info/info1.png"/>
                </div>
                <div class="aling-item-center space">
                    <img src="../img/info/info2.png"/>
                </div>
                <div class="aling-item-center">
                    <img src="../img/info/info3.png"/>
                </div>
                <div class="aling-item-center space size">
                    <img src="../img/info/info4.png"/>
                </div>
                <div class="aling-item-center space">
                    <img src="../img/info/info5.png"/>
                </div>
                <div class="aling-item-center space space-b">
                    <img src="../img/info/info6.png"/>
                </div>
                <div class="aling-item-center space space-b">
                    <div class="square">
                        <p>REGALOS</p>
                        <p>Efectivo o mesa de regalos</p>
                        <p><a href="https://mesaderegalos.liverpool.com.mx/milistaderegalos/51232068" target="_blank"> ver mesa de regalos</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>