<section class="bg-2">
    <div class="container">
        <div >
            <div class="section-i">
                <div class="align-items-center">
                    <div class="aling-item-center">
                        <div class="square-g">
                            <h1 class="square-c font-title">HORARIOS</h1>
                            <p class="square-c li font-info">Ceremonia de unión</p>
                            <p class="square-c bold-b font-info">6:00pm</p>
                            <p class="square-c li font-info">Coctel de bienvenida</p>
                            <p class="square-c bold-b font-info">7:00pm</p>
                            <p class="square-c li font-info">Fiesta (Recepción)</p>
                            <p class="square-c bold-b font-info">8:00pm-2:00am</p>
                            <p class="square-c li font-info">Este es un evento exclusivamente para adultos por motivos de seguridad.<a class="square-c cur-kid" >NO NIÑOS</a></p>
                        </div>
                    </div>
                    <div class="aling-item-center space">
                        <div class="square-ll">
                            <div class="square-lgr">
                                <h1 class="square-c font-title p-top-s">LUGAR</h1>
                                <p class="square-c li font-info">Cabañas del Abuelo Chumber</p>
                                <p class="square-c "><a href="https://wa.me/526141198651"><strong class="bold-c font-info" >WHATSSAPP - </strong></a><a href="https://wa.me/526141198651" class="li-b font-info">614 119 8651</a></p>
                            </div>
                            <div class="square-b">
                                <div>
                                    <h2 class="font-title-h2">
                                       COMO LLEGAR
                                    </h2>
                                </div>
                                <video autoplay controls loop> 
                                    <source src="../vid/videos/IMG_2233_2.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                    <div class="aling-item-center space ">
                        <div class="square-k">
                            <div class="p-top-s">
                                <h1 class="square-c font-title">DRESSCODE</h1>
                                <div class="square-lgr">
                                    <p class="square-c li-b font-info">Queremos que este día explotes tu 
                                        creatividad y nos sorprendas con un atuendo que resalte tu 
                                        personalidad, que te sientas cómodo y puedas bailar y disfrutar toda 
                                        la noche con nosotros, para esto hemos creado unos tips de opciones de ropa que podrías utilizar.
                                    </p>
                                    <p class="square-c">
                                        <strong class="bold-c font-info" >Mujeres - </strong><a class="li-b font-info">Tacón cómodo para jardin, usa vestidos de </a><strong class="bold-c font-info" >colores vivos</strong>
                                    </p>
                                    <p class="square-c">
                                        <strong class="bold-c font-info" >Hombres - </strong><a class="li-b font-info">Traje en </a><strong class="bold-c font-info" >colores vivos </strong><a class="li-b font-info">y agrega creatividad a tu estilo. </a>
                                    </p>
                                </div>
                                <p class="square-c bold-c pa-t font-info">
                                    Tennis permitidos
                                </p>
                            </div>
                            <div class="vesti vesti-f">
                            </div>
                        </div>
                    </div>
                    <div class="aling-item-center space">
                        <div class="square-g">
                            <h1 class="square-c font-title">ZONA DE CAMPING</h1>
                            <p class="square-c li-2 font-info">Puedes llevar tu casa de campaña</p>
                        </div>
                    </div>
                    <div class="aling-item-center space space-b>
                        <div class="square">
                            <h1 class="square-c font-title">REGALOS</h1>
                            <p class="square-c font-inf font-info">Efectivo o mesa de regalos</p>
                            <div class="square-l">
                                <p class="square-c cur font-info"><a href="https://mesaderegalos.liverpool.com.mx/milistaderegalos/51232068" target="_blank"> Ver mesa de Regalos</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>