<div class="container">
    <div >
        <div class="section-i">
            <div class="align-items-center">
                <div class="aling-item-center">
                    <div class="square-g">
                        <h1 class="square-c font-title">HORARIOS</h1>
                        <p class="square-c li">Ceremonia de unión</p>
                        <p class="square-c bold-b">6:00pm</p>
                        <p class="square-c li">Coctel de bienvenida</p>
                        <p class="square-c bold-b">7:00pm</p>
                        <p class="square-c li">Fiesta (Recepción)</p>
                        <p class="square-c bold-b">8:00pm-2:00am</p>
                    </div>
                </div>
                <div class="aling-item-center space">
                    <div class="square">
                        <h1 class="square-c font-title">LUGAR</h1>
                        <p class="square-c li">Cabañas del Abuelo Chumber</p>
                        <p class="square-c"><strong class="bold-c" >WHATSSAPP - </strong> <a class="li-b">614 2 77 05 59</a></p>
                    </div>
                </div>
                <div class="aling-item-center">
                    <div class="square-b">
                        <p class="square-c li tp">VIDEO</p>
                    </div>
                </div>
                <div class="aling-item-center space size">
                    <img src="../img/info/info4.png"/>
                </div>
                <div class="aling-item-center space">
                    <img src="../img/info/info5.png"/>
                </div>
                <div class="aling-item-center space space-b">
                    <img src="../img/info/info6.png"/>
                </div>
                <div class="aling-item-center space space-b">
                    <div class="square">
                        <h1 class="square-c font-title">REGALOS</h1>
                        <p class="square-c font-inf">Efectivo o mesa de regalos</p>
                        <div class="square-l">
                            <p class="square-c cur "><a href="https://mesaderegalos.liverpool.com.mx/milistaderegalos/51232068" target="_blank"> Ver mesa de Regalos</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>