<section class="bg">
    <div class="container">
        <div class="align-items-center">
            <div class="align-items-center center">
                <img class="imgp"src="../img/save/save.png"/>
            </div>
        </div>
    </div>
</section>