<section class="bg">
    <div class="container">
        <div class="section-a">
            <div class="align-items-center">
                <div class="aling-item-center">
                    <img class="imgp"src="../img/save/save.png"/>
                </div>
            </div>
        </div>
    </div>
</section>