<section class="bg">
    <div class="center">
        <div >
            <div class="align-items-center">
                <div class="aling-item-center">
                    <img src="../img/save/save.png"/>
                </div>
            </div>
        </div>
    </div>
</section>