:root {
  --orange: #F7931F;
  --orange-light: #000000;
  --off-purple: #e9e4f5;
  --green: #d5fc6d;
  --green-flu: #d3fc66;
  --white: #ffffff;
  --black: #000;
  --newcolor: #FFEBC9;
}

@font-face {
  font-family: "NeueMontreal-Light";
  font-weight: 100;
  src: url("../fonts/NeueMontreal-Light.otf");
}

@font-face {
  font-family: "NeueMontreal-Regular";
  font-weight: 200;
  src: url("../fonts/NeueMontreal-Regular.otf");
}

@font-face {
  font-family: "NeueMontreal-Regular";
  font-weight: 400;
  src: url("../fonts/NeueMontreal-Regular.otf");
}

@font-face {
  font-family: "NeueMontreal-Regular";
  font-weight: 500;
  src: url("../fonts/NeueMontreal-Regular.otf");
}

@font-face {
  font-family: "NeueMontreal-Medium";
  font-weight: 600;
  src: url("../fonts/NeueMontreal-Medium.otf");
}

@font-face {
  font-family: "NeueMontreal-MediumItalic";
  font-weight: 600;
  src: url("../fonts/NeueMontreal-MediumItalic.otf");
}

@font-face {
  font-family: "NeueMontreal-BoldItalic";
  font-weight: 600;
  src: url("../fonts/NeueMontreal-BoldItalic.otf");
}

@font-face {
  font-family: "NeueMontreal-Bold";
  font-weight: 900;
  src: url("../fonts/NeueMontreal-Bold.otf");
}

html,
body {
  font-size: 20px;
}

img,
video {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "NeueMontreal-Regular", sans-serif;
  color: var(--newcolor);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e9e4f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "NeueMontreal-Bold", sans-serif !important;
}

.sans-serif {
  font-family: "NeueMontreal-Regular", sans-serif;
}

a {
  cursor: hand;
  text-decoration: none;
  color: var(--black);
}

a:hover {
  color: var(--black);
}

.a-underline {
  border-bottom: 2px dotted;
}

p {
  color: #000000;
  font-size: 19px;
  font-weight: 400;
  line-height: 165%;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 28px;
}

h6 {
  font-size: 20px;
}

button {
  background: none;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
}


/* bootstrap overrides */

.bold {
  font-weight: 600 !important;
}
.text-primary {
  color: var(--green) !important;
}

.text-secondary {
  color: var(--purple) !important;
}

.text-secondary-l {
  color: var(--purple-light) !important;
}

.font-xxs {
  font-size: 0.6rem !important;
}

.font-xs {
  font-size: 0.7rem !important;
}

.font-sm {
  font-size: 0.85rem !important;
}

.font-lg {
  font-size: 1.2rem !important;
}

.font-xl {
  font-size: 1.4rem !important;
}

.text-uppercase {
  letter-spacing: 1px !important;
  text-transform: uppercase;
}

ul {
  padding-left: 1rem;
  list-style-type: disc;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0 !important;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.btn-lg {
  font-size: 20px !important;
  border: 1px solid var(--purple) !important;
  box-shadow: 5px 5px 0 var(--purple);
  border-radius: 40px;
  padding: 0.75rem 1.5rem;
}

.btn-block {
  width: 100%;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-outline-primary:hover,
.btn-outline-primary:active {
  color: var(--purple) !important;
  background: var(--green) !important;
}

.btn-light,
.btn-light:hover,
.btn-light:active,
.btn-outline-primary:hover,
.btn-outline-primary:active {
  color: var(--purple) !important;
}

.btn-outline-primary {
  border: 1px solid var(--green) !important;
  color: var(--green) !important;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-outline-secondary:hover {
  background: var(--purple);
  color: var(--green);
  border: 1px solid var(--green) !important;
  box-shadow: 5px 5px 0 var(--green);
}

.btn-green-primary,
.btn-green-primary:hover,
.btn-green-primary:active,
.btn-green-primary:hover {
  background: var(--green-flu);
  color: var(--purple);
}

.btn-outline-secondary {
  color: var(--purple);
  border: 1px solid var(--purple) !important;
}

.btn-menu {
  height: 44px;
  border-radius: 44px;
  color: var(--purple) !important;
  font-size: 0.8rem;
  font-weight: 500;
  border: 1px solid var(--purple) !important;
}

/* Navigation */

.navbar-nav {
  z-index: 1;
  position: relative;
}

.logo-container {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  text-align: center;
  position: absolute;
}

.logo-container a {
  display: inline-block;
  width: 90px;
  height: 40px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  margin-top: 10px;
  z-index: 1000;
  position: relative;
}

/* Shared css */

.page-content {
  background-color: var(--newcolor);
  background-size: cover;
}

.hero {
  padding: 3rem 0 0rem;
}

.hero .section {
  padding-bottom: 1rem;
}

.section {
  padding: 4rem 0;
}

.section-lg {
  padding: 7rem 0;
}

.section-gray {
  background: url("../img/gallery/textura-white.png");
}

.text-dark {
  color: #000 !important;
}


.headerStyles {
  background: "#fff";
  border-bottom: "1px solid #ccc";
  position: "fixed";
  top: 0;
  width: "100%";
  z-index: 1000000;
}

.p {
  padding: 0;
  padding-left: 30%;
}

.full-width {
  width: 100%
}


.margin-le {
  margin-left: "2rem"
}

.p-btn {
  padding-right: 2rem;
}

@media (max-width: 1000px){
  .font-title {
    font-size: 500% !important;;
    font-weight: 900;
  }
}

@media (max-width: 900px){
  .font-title {
    font-size: 400% !important;;
    font-weight: 900;
  }
}

@media (max-width: 700px){
  .font-title {
    font-size: 300% !important;;
    font-weight: 900;
  }
}

@media (max-width: 500px){
  .font-title {
    font-size: 250% !important;;
    font-weight: 900;
  }
}

@media (max-width: 400px){
  .font-title {
    font-size: 190% !important;;
    font-weight: 900;
  }
}

@media (max-width: 300px){
  .font-title {
    font-size: 140% !important;;
    font-weight: 900;
  }
}

@media (max-width: 200px){
  .font-title {
    font-size: 100% !important;;
    font-weight: 900;
  }
}

@media (max-width: 600px){
  .font-info {
    font-size: 180% !important;;
  }
}

@media (max-width: 400px){
  .font-info {
    font-size: 150% !important;;
  }
}


@media (max-width: 300px){
  .font-info {
    font-size: 120% !important;;
  }
}

@media (max-width: 200px){
  .font-info {
    font-size: 170% !important;;
  }
}

@media (max-width: 200px){
  .font-info {
    font-size: 100% !important;;
    font-weight: 900;
  }
}

@media (max-width: 556px) {
  h1 {
    font-size: 40px !important;
  }
  h2 {
    font-size: 34px !important;
  }
  h3 {
    font-size: 30px !important;
  }
}

.center{
  padding-left: 13%;
}

@media (max-width: 499px){
  .section-i { 
    padding-top: 4rem;
  
  }
}

@media (min-width: 500px){
  .section-i { 
    padding-top: 8rem;
  
  }
}

.space {
  padding-top: 10rem;
}

.space-b {
  padding-bottom: 10rem;
}

.pa-t {
  padding-top: 2rem;
}

.size {
  width: 86%;
}

.imgp {
  max-height: 100%;
}

.cur {
  font-family: "NeueMontreal-BoldItalic", sans-serif !important;
  font-size: 320%;
  font:bold;
  text-decoration: underline;
}

.bold-b {
  font-family: "NeueMontreal-Bold", sans-serif !important;
  font-size: 310%;
  font:bold;
  font-weight: 900;
  margin-top: -50px;
}

.bold-c {
  font-family: "NeueMontreal-Bold", sans-serif !important;
  font-size: 240%;
  font:bold;
  font-weight: 900;
}

.bottom {
  margin-top: -20px;
}

.li {
  font-size: 310%;
  font-family: "NeueMontreal-Regular", sans-serif !important;
  font-weight: 200;
}

.li-2 {
  font-size: 320%;
  font-family: "NeueMontreal-Regular", sans-serif !important;
  font-weight: 200;
}

.li-b {
  font-size: 240%;
  font-family: "NeueMontreal-Regular", sans-serif;
  font-weight: 100;
  line-height: normal;
}

.square-g {
  max-width: 100%;
  box-sizing: #ABFDCC;
  background-color: #ABFDCC;
  color:#000;
  border: 3.271730661392212px solid var(--black);
  border-radius: 25px 25px 25px 25px;
  height: fixed 545px;
  padding: 55px 48.47820281982422px 55px 48.47820281982422px;
  border-radius: 24.537979125976562px
}

.square-b {
  max-width: 100%;
  height: 530px;
  box-sizing: #FFE1AD;
  background-color: #FFE1AD;
  color:#000;
  border: 3.271730661392212px solid var(--black);
  border-radius: 25px 25px 25px 25px;
  height: fixed 545px;
  padding: 48px;
  border-radius: 24.537979125976562px
} 

.square-g {
  max-width: 100%;
  box-sizing: #ABFDCC;
  background-color: #ABFDCC;
  color:#000;
  border: 3.271730661392212px solid var(--black);
  border-radius: 25px 25px 25px 25px;
  height: fixed 545px;
  padding: 55px 48.47820281982422px 55px 48.47820281982422px;
  border-radius: 24.537979125976562px
}

.square-l {
  box-sizing: #ABFDCC;
  max-width: 80%;
  margin-left: 10%;
  background-color: #ABFDCC;
  border-radius: 30px 40px 30px 40px;
  border: 3.271730661392212px solid var(--black);
  color:#000;
}

.square-k {
  max-width: 100%;
  box-sizing: #FFDC25;
  background-color: #FFDC25;
  color:#000;
  border: 3.271730661392212px solid var(--black);
  border-radius: 25px 25px 25px 25px;
  height: fixed 545px;
  border-radius: 24.537979125976562px
}

.square {
  max-width: 100%;
  box-sizing: var(--off-purple);
  background-color: #fff;
  color:#000;
  border: 3.271730661392212px solid var(--black);
  border-radius: 25px 25px 25px 25px;
  height: fixed 545px;
  padding: 55px 48.47820281982422px 55px 48.47820281982422px;
  border-radius: 24.537979125976562px
}

.vesti {
  max-width: 100%;
  height: 700px;
  background-image: url("../img/info/vestimenta.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.square-c {
  text-align:center;
  padding: 25px;
}

.square-z {

}

.font-inf {
  font-size: 350%;
}

.tp {
  margin-top: 15%;
}


.bg-2 {
  background-color: #FFEBC9;
}

.bg {
  background-image: url("../img/background/background.png");
  background-position: 100%;
  background-repeat: no-repeat;
}